<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link href="css/list.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="nav.css" />
</head>

<body>

  <div data-role="header">
    <form action="/" method="post">
      <div class="l-navbar" id="navbar">
        <nav class="nav">
          <div>
            <div class="nav__brand">
              <ion-icon name="menu-outline" class="nav__icon nav__toggle" id="nav-toggle"></ion-icon>
              <a href="homepage.html" class="nav__logo">T_TDo</a>
            </div>
            <div>
              <a href="cal.html" class="nav__link">
                <ion-icon name="calendar-outline" class="nav__icon"></ion-icon>
                <span class="nav__name">My Calendar</span>
              </a>
              <form action="/list" method="post">
                <a href="/list" class="nav__link" type="submit">
                  <ion-icon name="checkbox-outline" class="nav__icon"></ion-icon>
                  <span class="nav__name">To-do List</span>
                </a>
              </form>
              <form action="/logout" method="post">
                <a class="nav__link" href="/logout" role="button" type="submit">
                  <ion-icon name="log-out-outline" class="nav__icon"></ion-icon>
                  <span class="nav__name">Log Out</span>
                </a>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </form>
  </div>

  <div class="box" id="heading">
    <h1>Add a new task</h1>
  </div>

  <div class="box">
    <% for (var i = 0; i < newListItems.length; i ++) { %>
    <div class="item">
      <input type="checkbox">
      <p><%= newListItems[i] %></p>
    </div>
    <% } %>

    <form class="item" action="/list" method="post">
      <input type="text" name="newItem" placeholder="Add task here" autocomplete="off">
      <button type="submit" name="Addbutton">+</button>
    </form>
  </div>

  <!--Ionicons-->
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

  <!--Main JS-->
  <script src="nav.js"></script>

</body>

</html>
