<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link href="css/list.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="nav.css" />
    <link rel="icon" href="images/favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #f1976a;">
        <ul class="nav">
            <li class="nav-item">
                <a class="text-my-own-color nav-link active" href="homepage.html">T_TDO</a>
            </li>
            <li class="nav-item">
                <form action="/cal" method="post">
                    <a class="text-my-own-color nav-link active" href="/cal">My Calendar</a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/list" method="post">
                    <a class="text-my-own-color nav-link active" href="/list">To-Do List</a>
                </form>
            </li>
            <li class="nav-item">
                <form action="/logout" method="post">
                    <a class="text-my-own-color nav-link active" href="/logout">Logout</a>
                </form>
            </li>
        </ul>
    </nav>

    <div class="body-pd column">
        <div class="box" id="heading">
            <h1 style="color: white;">My tasks</h1>
            <p style="color: white;">click checkbox to delete task</p>
        </div>

        <div class="box">
            <% for(let i=0; i < newListItems.length; i ++) { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=newListItems[i]._id%>"
                            onChange="this.form.submit()">
                        <p>
                            <%= newListItems[i].item %>
                        </p>
                    </div>
                </form>
                <% } %>
        </div>
    </div>

    <div class="column body-pd">
        <div class="box" id="heading">
            <h1 style="color: white;">Add a new task</h1>
        </div>
        <form action="/list" method="post">
            <div class="divider"></div>
            <p class="taskBox">
                <input type="text" name="newItem" placeholder="New task" autocomplete="off">
                <input type="date" name="date" autocomplete="off" required="required">
            </p>
            <div class="divider"></div>
            <p class="taskBox">
                <textarea id="content" name="description" class="resize" rows="50" cols="72" style="border: none"
                    placeholder="Task Descriptions"></textarea>
            </p>
            <div class="divider"></div>
            <p class="eventType">Event Type:
                <select name="type">
                    <option value="event">event</option>
                    <option value="birthday">birthday</option>
                    <option value="holiday">holiday</option>
                </select>
            </p>
            <div class="box">
                <button class="button" type="submit" name="Addbutton">+ Add New Task</button>
            </div>
        </form>
    </div>


    </div>
    </div>

    <script>
        $(function() {
            var textArea=$('#content'),
                hiddenDiv=$(document.createElement('div')),
                content=null;

            textArea.addClass('noscroll');
            hiddenDiv.addClass('hiddendiv');

            $(textArea).after(hiddenDiv);

            textArea.on('keyup',function() {
                content=$(this).val();
                content=content.replace(/\n/g,'<br>');
                hiddenDiv.html(content+'<br class="lbr">');
                $(this).css('height',hiddenDiv.height());
            });
        });
    </script>

    <!--Ionicons-->
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>

    <!--Main JS-->
    <script src="nav.js"></script>

</body>

</html>